<!-- <app-report></app-report> -->

<div _ngcontent-ng-c1003169711="" class="grid-container">
    <div _ngcontent-ng-c1003169711="" appresizable="" class="item1 card" style="width: 423px; height: 450.324px;">
        <div _ngcontent-ng-c1003169711="" class="resize-handle top-left"
            style="width: 10px; height: 10px; background: gray; top: -5px; left: -5px; cursor: nwse-resize;"></div>
        <div _ngcontent-ng-c1003169711="" class="resize-handle top-right"
            style="width: 10px; height: 10px; background: gray; top: -5px; right: -5px; cursor: nesw-resize;"></div>
        <div _ngcontent-ng-c1003169711="" class="resize-handle bottom-left"
            style="width: 10px; height: 10px; background: gray; bottom: -5px; left: -5px; cursor: nesw-resize;"></div>
        <div _ngcontent-ng-c1003169711="" class="resize-handle bottom-right"
            style="width: 10px; height: 10px; background: gray; bottom: -5px; right: -5px; cursor: nwse-resize;"></div>
        <iframe _ngcontent-ng-c1003169711="" title="sales report"
            src="https://app.powerbi.com/view?r=eyJrIjoiZGM5MjExYWUtZTU1Yi00OTE0LWFlODMtMjUyYWZiMDM3MjY1IiwidCI6IjMwMzM2NDJkLTZhZGYtNGFjNi1iYmM1LTUxMWI0MmJjNWYwMCJ9"
            frameborder="0" allowfullscreen="true"></iframe>
    </div>
    <div _ngcontent-ng-c1003169711="" appresizable="" class="item2 card" style="width: 622.75px; height: 392.324px;">
        <div _ngcontent-ng-c1003169711="" class="resize-handle top-left"
            style="width: 10px; height: 10px; background: gray; top: -5px; left: -5px; cursor: nwse-resize;"></div>
        <div _ngcontent-ng-c1003169711="" class="resize-handle top-right"
            style="width: 10px; height: 10px; background: gray; top: -5px; right: -5px; cursor: nesw-resize;"></div>
        <div _ngcontent-ng-c1003169711="" class="resize-handle bottom-left"
            style="width: 10px; height: 10px; background: gray; bottom: -5px; left: -5px; cursor: nesw-resize;"></div>
        <div _ngcontent-ng-c1003169711="" class="resize-handle bottom-right"
            style="width: 10px; height: 10px; background: gray; bottom: -5px; right: -5px; cursor: nwse-resize;"></div>
        <iframe _ngcontent-ng-c1003169711="" title="sales report"
            src="https://app.powerbi.com/view?r=eyJrIjoiZGM5MjExYWUtZTU1Yi00OTE0LWFlODMtMjUyYWZiMDM3MjY1IiwidCI6IjMwMzM2NDJkLTZhZGYtNGFjNi1iYmM1LTUxMWI0MmJjNWYwMCJ9"
            frameborder="0" allowfullscreen="true"></iframe>
    </div>
    <div _ngcontent-ng-c1003169711="" appresizable="" class="item3 card">
        <div _ngcontent-ng-c1003169711="" class="resize-handle top-left"
            style="width: 10px; height: 10px; background: gray; top: -5px; left: -5px; cursor: nwse-resize;"></div>
        <div _ngcontent-ng-c1003169711="" class="resize-handle top-right"
            style="width: 10px; height: 10px; background: gray; top: -5px; right: -5px; cursor: nesw-resize;"></div>
        <div _ngcontent-ng-c1003169711="" class="resize-handle bottom-left"
            style="width: 10px; height: 10px; background: gray; bottom: -5px; left: -5px; cursor: nesw-resize;"></div>
        <div _ngcontent-ng-c1003169711="" class="resize-handle bottom-right"
            style="width: 10px; height: 10px; background: gray; bottom: -5px; right: -5px; cursor: nwse-resize;"></div>
        <iframe _ngcontent-ng-c1003169711="" title="sales report"
            src="https://app.powerbi.com/view?r=eyJrIjoiZGM5MjExYWUtZTU1Yi00OTE0LWFlODMtMjUyYWZiMDM3MjY1IiwidCI6IjMwMzM2NDJkLTZhZGYtNGFjNi1iYmM1LTUxMWI0MmJjNWYwMCJ9"
            frameborder="0" allowfullscreen="true"></iframe>
    </div>
    <div _ngcontent-ng-c1003169711="" appResizable class="item4 card" style="width: 721.859px; height: 139.5px;">
        <div _ngcontent-ng-c1003169711="" class="resize-handle top-left"
            style="width: 10px; height: 10px; background: gray; top: -5px; left: -5px; cursor: nwse-resize;"></div>
        <div _ngcontent-ng-c1003169711="" class="resize-handle top-right"
            style="width: 10px; height: 10px; background: gray; top: -5px; right: -5px; cursor: nesw-resize;"></div>
        <div _ngcontent-ng-c1003169711="" class="resize-handle bottom-left"
            style="width: 10px; height: 10px; background: gray; bottom: -5px; left: -5px; cursor: nesw-resize;"></div>
        <div _ngcontent-ng-c1003169711="" class="resize-handle bottom-right"
            style="width: 10px; height: 10px; background: gray; bottom: -5px; right: -5px; cursor: nwse-resize;"></div>
        <iframe _ngcontent-ng-c1003169711="" title="sales report"
            src="https://app.powerbi.com/view?r=eyJrIjoiZGM5MjExYWUtZTU1Yi00OTE0LWFlODMtMjUyYWZiMDM3MjY1IiwidCI6IjMwMzM2NDJkLTZhZGYtNGFjNi1iYmM1LTUxMWI0MmJjNWYwMCJ9"
            frameborder="0" allowfullscreen="true"></iframe>
    </div>
</div>