<div class="row mt-3">
    <div class="col-md-12">
        <h4>Edit Post</h4>
        <hr class="my-3">
        <form [formGroup]="editPostForm">
            <div class="mb-3">
                <label>Title</label>
                <input type="text" class="form-control" formControlName="title">
                <span *ngIf="!editPostForm.value.title && editPostForm.get('title')?.touched">Title is required</span>
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea type="text" class="form-control" formControlName="description"></textarea>
                <span *ngIf="!editPostForm.value.title && editPostForm.get('description')?.touched">Description is
                    required</span>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit" (click)="onEditPost()"
                    [disabled]="!editPostForm.valid">Update</button>
            </div>
        </form>
    </div>
</div>