<div class="row ps-3" style="width: 99%;">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <a class="btn btn-primary py-0" href="#" routerLink="/posts/add">Add Post</a>
        <table class="table table-striped mt-4">
            <tr>
                <th>Post Id</th>
                <th>Title</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tbody>
                <tr *ngFor="let post of posts" class="align-middle">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td>
                        <div class="d-flex">
                            <button class="btn btn-primary" [routerLink]="['edit',post.id]">edit</button>
                            <button class="ms-2 btn btn-primary" (click)="onDeletePost(post)">delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>