<!-- <div>
    <div _ngcontent-ng-c744733283="" class="card-grid">
        <div _ngcontent-ng-c744733283="" appresizable="" class="card"
            style="position: absolute; width: 827.039px; height: 154.953px; left: 133px; top: 123px;">
            <div _ngcontent-ng-c744733283="" class="resize-handle top-left"
                style="position: absolute; width: 10px; height: 10px; background: gray; top: -5px; left: -5px; cursor: nwse-resize;">
            </div>
            <div _ngcontent-ng-c744733283="" class="resize-handle top-right"
                style="position: absolute; width: 10px; height: 10px; background: gray; top: -5px; right: -5px; cursor: nesw-resize;">
            </div>
            <div _ngcontent-ng-c744733283="" class="resize-handle bottom-left"
                style="position: absolute; width: 10px; height: 10px; background: gray; bottom: -5px; left: -5px; cursor: nesw-resize;">
            </div>
            <div _ngcontent-ng-c744733283="" class="resize-handle bottom-right"
                style="position: absolute; width: 10px; height: 10px; background: gray; bottom: -5px; right: -5px; cursor: nwse-resize;">
            </div>
            <h3 _ngcontent-ng-c744733283="">Card 1</h3>
            <p _ngcontent-ng-c744733283="">This is the content of card 1.</p>
        </div>
        <div _ngcontent-ng-c744733283="" appresizable="" class="card change-index"
            style="position: absolute; width: 527.012px; height: 148.477px; left: 986px; top: 107px; right: 1515px;">
            <div _ngcontent-ng-c744733283="" class="resize-handle top-left"
                style="position: absolute; width: 10px; height: 10px; background: gray; top: -5px; left: -5px; cursor: nwse-resize;">
            </div>
            <div _ngcontent-ng-c744733283="" class="resize-handle top-right"
                style="position: absolute; width: 10px; height: 10px; background: gray; top: -5px; right: -5px; cursor: nesw-resize;">
            </div>
            <div _ngcontent-ng-c744733283="" class="resize-handle bottom-left"
                style="position: absolute; width: 10px; height: 10px; background: gray; bottom: -5px; left: -5px; cursor: nesw-resize;">
            </div>
            <div _ngcontent-ng-c744733283="" class="resize-handle bottom-right"
                style="position: absolute; width: 10px; height: 10px; background: gray; bottom: -5px; right: -5px; cursor: nwse-resize;">
            </div>
            <h3 _ngcontent-ng-c744733283="">Card 2</h3>
            <p _ngcontent-ng-c744733283="">This is the content of card 2.</p>
        </div>
        <div _ngcontent-ng-c744733283="" appresizable="" class="card change-index"
            style="position: absolute; width: 881.043px; height: 105.969px; left: 66px; top: 430px;">
            <div _ngcontent-ng-c744733283="" class="resize-handle top-left"
                style="position: absolute; width: 10px; height: 10px; background: gray; top: -5px; left: -5px; cursor: nwse-resize;">
            </div>
            <div _ngcontent-ng-c744733283="" class="resize-handle top-right"
                style="position: absolute; width: 10px; height: 10px; background: gray; top: -5px; right: -5px; cursor: nesw-resize;">
            </div>
            <div _ngcontent-ng-c744733283="" class="resize-handle bottom-left"
                style="position: absolute; width: 10px; height: 10px; background: gray; bottom: -5px; left: -5px; cursor: nesw-resize;">
            </div>
            <div _ngcontent-ng-c744733283="" class="resize-handle bottom-right"
                style="position: absolute; width: 10px; height: 10px; background: gray; bottom: -5px; right: -5px; cursor: nwse-resize;">
            </div>
            <h3 _ngcontent-ng-c744733283="">Card 3</h3>
            <p _ngcontent-ng-c744733283="">This is the content of card 3.</p>
        </div>
        <div _ngcontent-ng-c744733283="" appresizable="" class="card change-index"
            style="position: absolute; width: 444.473px; height: 113.93px; left: 1042px; top: 446px; right: 1216px;">
            <div _ngcontent-ng-c744733283="" class="resize-handle top-left"
                style="position: absolute; width: 10px; height: 10px; background: gray; top: -5px; left: -5px; cursor: nwse-resize;">
            </div>
            <div _ngcontent-ng-c744733283="" class="resize-handle top-right"
                style="position: absolute; width: 10px; height: 10px; background: gray; top: -5px; right: -5px; cursor: nesw-resize;">
            </div>
            <div _ngcontent-ng-c744733283="" class="resize-handle bottom-left"
                style="position: absolute; width: 10px; height: 10px; background: gray; bottom: -5px; left: -5px; cursor: nesw-resize;">
            </div>
            <div _ngcontent-ng-c744733283="" class="resize-handle bottom-right"
                style="position: absolute; width: 10px; height: 10px; background: gray; bottom: -5px; right: -5px; cursor: nwse-resize;">
            </div>
            <h3 _ngcontent-ng-c744733283="">Card 4</h3>
            <p _ngcontent-ng-c744733283="">This is the content of card 4.</p>
        </div>
    </div>
</div> -->

<div class="row ps-3" style="width: 99%;">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <a class="btn btn-primary py-0" href="#" routerLink="/posts/add">Add Post</a>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tbody>
                <tr *ngFor="let post of posts" class="align-middle">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['edit',post.id]">edit</button>
                        <button class="ms-2 btn btn-primary" (click)="onDeletePost(post)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>